@mixin shadow {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin buttonShadow {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.8);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.8);
}

@mixin buttonInset {
    -webkit-box-shadow: $insetShadow;
    -moz-box-shadow: $insetShadow;
    box-shadow: $insetShadow;
}

// A N I M A T I O N S
@-webkit-keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

@mixin crownColors {
    #Baratheon {
        fill: $baratheon;
    }
    #Lannister {
        fill: $lannister;
    }
    #Stark {
        fill: $stark;
    };
    #Targaryen {
        fill: $targaryen;
    }
    #Bannerless {
        fill: $bannerless;
    }
    #Walker {
        fill: $whiteWalker;
    }
}

@mixin title {
    text-align: center;
    text-shadow: $titleShadow;
    color: $grey;
    font-family: $title;
}

@mixin loyaltyColors {
    #Baratheon {
        color: $baratheon;
        text-shadow: $black 1px 1px 0;
    }
    #Lannister {
        color: $lannister;
        text-shadow: #e0e0e0 1px 1px 0;
    }
    #Stark {
        color: $stark;
        text-shadow: $black 1px 1px 0;
    };
    #Targaryen {
        color: $targaryen;
        text-shadow: #e0e0e0 1px 1px 0;
    }
    #Bannerless {
        color: $bannerless;
        text-shadow: #e0e0e0 1px 1px 0;
    }
    #Walker {
        color: $whiteWalker;
        text-shadow: $black 1px 1px 0;
    }
}

@mixin title {
    text-align: center;
    text-shadow: $titleShadow;
    color: $grey;
    font-family: $title;
}