//family colors
$stark: #D7DADB;
$lannister: #D96300;
$targaryen:#8D0000;
$baratheon: #D4AA00;
$bannerless: #659B73;
$whiteWalker: #CFF3FF;

//main colors
$black: #4D4D4D;
$grey: #9b9494;
$white: #F0F4F5;

// details
$shadow: 3px 2px 3px 0px rgba(0,0,0,0.75);
$titleShadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
$insetShadow: inset 1px 1px 3px #333;

// fonts 
@font-face {
    font-family: "GameofThrones";
    src: url("../fonts/GameofThrones.ttf") format('truetype');
}

@font-face {
    font-family: "TrajanusBricks";
    src: url("../fonts/TrajanusBricks.ttf") format('truetype');
}

@font-face {
    font-family: "AppleGaramond";
    src: url("../fonts/AppleGaramond.ttf") format('truetype');
}

@font-face {
    font-family: "Hamburger_Schwabacher";
    src: url("../Hamburger_Schwabacher.ttf") format('truetype');
}

$title: "GameofThrones";
$subtitle: "TrajanusBricks";
$body: "AppleGaramond";
$heading: "Hamburger_Schwabacher";