@import '_variables';
@import '_mixins';

html {
    background-color: $white;
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    &:-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }
}

button { text-decoration: none;}

body {
    background-color: $white;
}

.react-container {
    display: flex;
    justify-content: center;
}

#sidebar {
    // @include shadow;
    background-color: $black;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    h1 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        max-width: 100%;
        margin: 10px;
        @include title;
        span {
            margin-top: 15px;
        }
    }
    button {
        border-radius: 0;
        margin-top: 20px;
        width: 100%;
        background-color: $grey !important;
        border: none;
        font-family: $subtitle;
        // @include buttonShadow;
        &:active{
            @include buttonInset;
        }
    }
}


// LEADERBOARD
.leaderboard {
    padding: 40px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    #crown {
        width: 350px;
        height: 200px;
        g {
        fill: $targaryen;
        }
    }
    h2 {
        font-family: $title;
    }
}

// CHARACTER STATUS
#characterCard{
    margin: 10px;   
    background-color: $grey;
    display: flex;
    align-items: center;
    // @include shadow;
    flex-direction: column;
    border-radius: 5px;
    border: none;
    #false {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0px 0px;
    }
    }
    #content {
        justify-content: center;
        flex-direction: row;
        padding: 3px;
        @include loyaltyColors;
        span { 
            font-family: $subtitle;
            font-size: 13px;
            text-transform: lowercase;
        }
        p {
            font-family: $body;
            padding: 3px;
            line-height: 17px;
        }
        h5 {
            padding-top: 10px;
            font-family: $subtitle;
            font-size: 17px;
            text-align: center;
            text-transform: lowercase;
        }
        h6 {
            font-family: $heading;
            text-align: center;
            color: $white;
        }
        #status {
            margin-top: 4px;
            display: flex;
            flex-direction: row;
        }
    }
.card {
    width: 100%;
    height: 260px;
}

//
.card-flip {
    &:hover .flip,
    &.hover .flip {
    transform: rotateY(180deg);
}
}

.card-flip,
.front,
.back {
    width: 100%;
    height: 360px;;
    margin: 0px;
}

.flip {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

.front,
.back {
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
}

.front {
z-index: 2;
transform: rotateY(0deg);
}

.back {
transform: rotateY(180deg);
height: 100% !important;
width: 100%;
}

#newUser {
    @extend #selection;
    h1 { 
        @include title;
        margin: 15px;
        letter-spacing: 4px;
    }
}

#selection {
    display: flex;
    flex-direction: column;
    margin-top:40px;
    margin-bottom: 40px;
    align-items: center;
}

//my picks
#loyaltyButton {
    button {
        text-decoration: none;
        font-size: 15px;
        &:hover{
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    i { 
        padding: 5px;
        font-size: 50px;
    }
    @include loyaltyColors;
    p {
        font-family: $title;
        color: black;
    }
}

#choiceCard {
    #choiceContent {
    display: flex;
    flex-direction: row;
    background-color: $grey;
    border-radius: 10px;
    margin-top: 5px;
        img {
            height: 120px;
            min-width: 100px;
            max-width: 100px;
            border-radius: 10px 0px 0px 10px;
            padding: 2px;
        }
        #choice-inner {
            span { 
                font-family: $subtitle;
                font-size: 12px;
                text-transform: lowercase;
            }
            label {
                font-family: $heading;
            }
        }
    }
}