@font-face {
  font-family: "GameofThrones";
  src: url("./Fonts/GameofThrones.ttf") format("truetype");
}
@font-face {
  font-family: "TrajanusBricks";
  src: url("./Fonts/TrajanusBricks.ttf") format("truetype");
}
@font-face {
  font-family: "AppleGaramond";
  src: url("./Fonts/AppleGaramond.ttf") format("truetype");
}
@font-face {
  font-family: "Hamburger_Schwabacher";
  src: url("./Fonts/Hamburger_Schwabacher.ttf") format("truetype");
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

html {
  background-color: #F0F4F5;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html:-webkit-scrollbar {
  display: none;
}

button {
  text-decoration: none;
}

body {
  background-color: #F0F4F5;
}

.react-container {
  display: flex;
  justify-content: center;
}

#sidebar {
  background-color: #4D4D4D;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
}
#sidebar h1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  max-width: 100%;
  margin: 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  color: #9b9494;
  font-family: "GameofThrones";
}
#sidebar h1 span {
  margin-top: 15px;
}
#sidebar button {
  border-radius: 0;
  margin-top: 20px;
  width: 100%;
  background-color: #9b9494 !important;
  border: none;
  font-family: "TrajanusBricks";
}
#sidebar button:active {
  -webkit-box-shadow: inset 1px 1px 3px #333;
  -moz-box-shadow: inset 1px 1px 3px #333;
  box-shadow: inset 1px 1px 3px #333;
}

.leaderboard {
  padding: 40px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jumbotron h2 {
  font-family: "GameofThrones";
}

svg #Baratheon {
  fill: #D4AA00;
}
svg #Lannister {
  fill: #D96300;
}
svg #Stark {
  fill: #D7DADB;
}
svg #Targaryen {
  fill: #8D0000;
}
svg #Bannerless {
  fill: #659B73;
}
svg #Walker {
  fill: #CFF3FF;
}

#characterCard {
  margin: 10px;
  background-color: #9b9494;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border: none;
}
#characterCard #false {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#characterCard img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

#content {
  justify-content: center;
  flex-direction: row;
  padding: 3px;
}
#content #Baratheon {
  color: #D4AA00;
  text-shadow: #4D4D4D 1px 1px 0;
}
#content #Lannister {
  color: #D96300;
  text-shadow: #e0e0e0 1px 1px 0;
}
#content #Stark {
  color: #D7DADB;
  text-shadow: #4D4D4D 1px 1px 0;
}
#content #Targaryen {
  color: #8D0000;
  text-shadow: #e0e0e0 1px 1px 0;
}
#content #Bannerless {
  color: #659B73;
  text-shadow: #e0e0e0 1px 1px 0;
}
#content #Walker {
  color: #CFF3FF;
  text-shadow: #4D4D4D 1px 1px 0;
}
#content span {
  font-family: "TrajanusBricks";
  font-size: 13px;
  text-transform: lowercase;
}
#content p {
  font-family: "AppleGaramond";
  padding: 3px;
  line-height: 17px;
}
#content h5 {
  padding-top: 10px;
  font-family: "TrajanusBricks";
  font-size: 17px;
  text-align: center;
  text-transform: lowercase;
}
#content h6 {
  font-family: "Hamburger_Schwabacher";
  text-align: center;
  color: #F0F4F5;
}
#content #status {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
}

.card {
  width: 100%;
  height: 260px;
}

.card-flip:hover .flip, .card-flip.hover .flip {
  transform: rotateY(180deg);
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 360px;
  margin: 0px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  height: 100% !important;
  width: 100%;
}

#dead {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#walker {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#newUser h1 {
  text-align: center;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  color: #9b9494;
  font-family: "GameofThrones";
  margin: 15px;
  letter-spacing: 4px;
}

#selection, #newUser {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}

#loyaltyButton button {
  text-decoration: none;
  font-size: 15px;
}
#loyaltyButton button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#loyaltyButton i {
  padding: 5px;
  font-size: 50px;
}
#loyaltyButton #Baratheon {
  color: #D4AA00;
  text-shadow: #4D4D4D 1px 1px 0;
}
#loyaltyButton #Lannister {
  color: #D96300;
  text-shadow: #e0e0e0 1px 1px 0;
}
#loyaltyButton #Stark {
  color: #D7DADB;
  text-shadow: #4D4D4D 1px 1px 0;
}
#loyaltyButton #Targaryen {
  color: #8D0000;
  text-shadow: #e0e0e0 1px 1px 0;
}
#loyaltyButton #Bannerless {
  color: #659B73;
  text-shadow: #e0e0e0 1px 1px 0;
}
#loyaltyButton #Walker {
  color: #CFF3FF;
  text-shadow: #4D4D4D 1px 1px 0;
}
#loyaltyButton p {
  font-family: "GameofThrones";
  color: black;
}

#choiceContent {
  display: flex;
  flex-direction: row;
  background-color: #9b9494;
  border-radius: 10px;
  margin-top: 5px;
}
#choiceContent img {
  height: 120px;
  min-width: 100px;
  max-width: 100px;
  border-radius: 10px 0px 0px 10px;
  padding: 2px;
}
#choiceContent #choice-inner span {
  font-family: "TrajanusBricks";
  font-size: 12px;
  text-transform: lowercase;
  word-wrap: normal;
}
#choiceContent #choice-inner label {
  font-family: "AppleGaramond";
}

/*# sourceMappingURL=style.css.map */
